body {
  /* background: linear-gradient(to right, #2c3e50, #fd746c); */
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Roboto", sans-serif;
}

h1 i {
  float: right;
}

.container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 360px;
  /* list-style-type: none; */
  background: #f7f7f7;
  /* text-align: center; */
}
input {
  width: 100%;
  background: #f7f7f7;
  font-size: 18px;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0);
  margin-top: -15px;
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  opacity: 0;
}
li:hover span {
  width: 40px;
  transition: 0.25s linear;
  opacity: 1;
}

li {
  background: white;
  height: 40px;
  line-height: 40px;
  /* color: #666; */
}
li:nth-child(2n) {
  background: #f7f7f7;
}

h1 {
  background: #2980b9;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 400;
}

.complete {
  text-decoration: line-through;
  color: gray;
}
